body {
	border: dashed red 2px;
	padding: 10px;
}

header {
	border: dashed red 2px;
	padding: 10px;
	margin: 10px;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
}

main {
	border: dashed blue 2px;
	height: 700px;
	width: 80%;
	margin: auto;
	display: flex;
	padding: 7px;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
}

footer {
	border: dashed red 2px;
	padding: 10px;
	margin: 10px;
}
aside {
	border: dashed green 2px;
	padding: 3px;
	margin: 3px;
	height: 95%;
	flex-basis: 25%;
	align-self: flex-end;
}

.logo-holder {
	order: 0;
	margin: 5px;
	align-self: flex-start;
}

.author-name {
	margin: 5px;
	align-self: center;
}

.MainFieldContainer {
	border: dashed 2px rebeccapurple;
	align-self: flex-start;
	height: 95%;
	flex-basis: 75%;
	display: flex;
	flex-direction: column;
}

#entryLog {
	border: 2px dashed coral;
}
