body {
  padding: 10px;
}

header {
  padding: 10px;
  margin: 10px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  width: 95%;
  height: 100px;
}

#logo-img {
  height: 100px;
  width: auto;
}

main {
  height: 700px;
  width: 96%;
  margin: auto;
  display: flex;
  padding: 7px;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

footer {
  padding: 10px;
  margin: 10px;
}
aside {
  padding: 3px;
  margin: 3px;
  height: 98%;
  flex-basis: 25%;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
}

.logo-holder {
  order: 0;
  margin: 5px;
  align-self: flex-start;
  flex-basis: 20%;
}

.MainFieldContainer {
  align-self: flex-start;
  height: auto;
  flex-basis: auto;
  display: flex;
  flex-direction: column;
  border-radius: 1px;
  box-shadow: 0 0 2px -1px rgba(0, 0, 0, 0.95);
  margin: 1em;
  padding: 1em;
}

.journalEntry {
  width: auto;
  height: auto;
  border-radius: 1px;
  box-shadow: 0 0 2px -1px rgba(0, 0, 0, 0.95);
  margin: 1em;
  padding: 1em;
}
